<!DOCTYPE html>
<html lang="en">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<style>
    .ui-bar-f
    {
        color:white;
        background-color:#D00000;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>人才招聘</title>
</head>
<body>
<div data-role="page" id="photos">
    <header data-role="header" data-theme="f">
        <h1>人才招聘</h1>
    </header>
    <div data-role="content">
    <p>
            <b><div style="float:left;width:20%">工作职责:</div></b>
            <div style="float:left">负责网站各板块内容的规划和各频道栏目内容督导，部门工作管理。</div>
    </p>
    <p>
        <b><div style="float:left;width:20%">招聘要求:</div></b>
        <div style="float:left">1、本科以上学历，专业不限，精通体育，及互联网。
                                          2、三年以上电视、报刊、新闻媒体相关职位工作经验，熟悉网络媒体。具备较强的文字组织能力和原创编写能力，具丰富的团队管理经验、频道栏目策划能力。</div>
    </p>
    <p>
            <b><div style="float:left;width:20%">招聘人数:</div></b>
            <div style="float:left">10</div>
    </p>
    </div>

</div>

<script type="text/javascript">

</script>
</body>


</html>