<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<style>
.ui-bar-f
{
color:white;
background-color:#D00000;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>发布成功</title>
</head>
<body>
<div data-role="page" id="photos">
    <header data-role="header" data-theme="f">
     <a href="#" data-role="button" data-rel="back" data-icon="back">返回</a>
        <h1></h1>
    </header>
    <div data-role="content" style="text-align: center">
        <h3>发布成功!</h3>
    </div>


</body>


</html>